body {
	background: url('./img/background.jpg') no-repeat;
	background-size: 100% 100%;
	font-family: monospace;
	color: LightSlateGrey;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
}
.content {
	width: 700px;
	margin: 200px auto;
	background: white;
	text-align: center;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 3px 5px 8px rgba(255, 255, 255, .5);
}
h1 {
	color: DimGrey;
	font-size: 2.5em;
}
h2 {
	color: DarkSlateGrey;
	font-size: 1.5em;
}
img {
	width: 62px;
	height: 62px;
}
td {
	padding: 10px;
	font-size: 2em;
}
table {
}